.track-meta__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.track-meta__cover {
  max-width: 300px;
  min-width: 64px;
}

.track-meta__artist {
  font-size: 2rem;
  margin-top: 2em;
}
.track-meta__song {
  font-size: 1.5rem;
  margin-top: 1em;
}
.player {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $spotify-black;
  width: 100%;
  padding: 20px;
}

.player__btn {
  margin-left: 100px;
  margin-right: 100px;
}
