.track-meta__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.track-meta__cover {
  max-width: 300px;
  min-width: 64px;
}

.track-meta__artist {
  font-size: 2rem;
}
.track-meta__song {
  font-size: 1.5rem;
}
