.player {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;

  background: $spotify-black;
  width: 100%;
  padding: 20px;
}

.player__btn {
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
}
